parameters:
    # Do not load config.level*.neon
    customRulesetUsed: true
    missingClosureNativeReturnCheckObjectTypehint: true
    checkClassCaseSensitivity: true
    checkPhpDocMissingReturn: true
rules:
    - PHPStan\Rules\Functions\ExistingClassesInClosureTypehintsRule
    - PHPStan\Rules\Functions\ExistingClassesInTypehintsRule
    - PHPStan\Rules\Methods\ExistingClassesInTypehintsRule
    - PHPStan\Rules\PhpDoc\IncompatiblePhpDocTypeRule
    - PHPStan\Rules\PhpDoc\IncompatiblePropertyPhpDocTypeRule
    - PHPStan\Rules\PhpDoc\InvalidPhpDocTagValueRule
    - PHPStan\Rules\PhpDoc\InvalidThrowsPhpDocValueRule
    - PHPStan\Rules\PhpDoc\WrongVariableNameInVarTagRule
services:
    -
        class: PHPStan\Rules\Missing\MissingReturnRule
        arguments:
            checkExplicitMixedMissingReturn: %checkExplicitMixedMissingReturn%
            checkPhpDocMissingReturn: %checkPhpDocMissingReturn%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Properties\ExistingClassesInPropertiesRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%
            checkThisOnly: %checkThisOnly%
    -
        class: PHPStan\Rules\PhpDoc\InvalidPhpDocVarTagTypeRule
        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%
            checkMissingVarTagTypehint: %checkMissingVarTagTypehint%
        tags:
            - phpstan.rules.rule
